<h1>Edit Registration</h1>

<%= form_with(model: @registration, local: true) do |form| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>
      <ul>
        <% @registration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :birthday %>
    <%= form.date_field :birthday %>
  </div>

  <div>
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select([['Male', 'male'], ['Female', 'female'], ['Other', 'other']], @registration.gender), include_blank: true %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number %>
  </div>

  <div>
    <%= form.label :subject %>
    <%= form.select :subject, options_for_select([['Select Subject', 'none'], ['HTML', 'HTML'], ['CSS', 'CSS'], ['JavaScript', 'JAVASCRIPT']], @registration.subject) %>
  </div>

  <div>
    <%= form.submit 'Update Registration'%>
  </div>
<% end %>

<%= link_to 'Back', registrations_path %>