<div class="members-container">
  <div class="header">
    <h1>Members</h1>
    <div>
    <%= link_to 'Add Member', new_registration_path , class: 'new-registration-btn'%>
    </div>
  </div>
  <div class"table-member">
    <table>
      <thead>
        <tr>
          <th><%= sortable "first_name", "First Name"%></th>
          <th>Last Name</th>
          <th>Birthday</th>
          <th>Gender</th>
          <th><%= sortable "email", "Email" %></th>
          <th>Phone Number</th>
          <th>Subject</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td><%= registration.first_name %></td>
            <td><%= registration.last_name %></td>
            <td><%= registration.birthday %></td>
            <td><%= registration.gender %></td>
            <td><%= registration.email %></td>
            <td><%= registration.phone_number %></td>
            <td><%= registration.subject %></td>
            <td class="action-buttons">
              <%= link_to 'Edit', edit_registration_path(registration), class: 'action-btn edit-btn' %>
              <%= button_to 'Delete', confirm_modal_registration_path(registration), method: :get, class: 'action-btn delete-btn' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <%= will_paginate @registrations %>
  </div>


</div>

<%= turbo_frame_tag "modal" %>
